<<<<<<< HEAD
=======
@media print {
	p, #options {
		display: none;
	}
}

>>>>>>> gh-pages
body {
 font-family: "Source Sans Pro";
}
p, #options {
	width: 400px;
	margin: auto;
	margin-top: 30px;
}
#tapestry {
    margin: 20px auto;
<<<<<<< HEAD
    overflow: none;
	display: table;
=======
	width: 100%;
	display: table;
	border-spacing: 2px;
>>>>>>> gh-pages
}
.row {
	display: block;
}
.st{
<<<<<<< HEAD
    display: inline-block;
	min-width: 5px;
	min-height: 5px;
=======
    display: table-cell;
>>>>>>> gh-pages
    border: 1px solid #b3b3b3;
    /*margin: -1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: rotate(20deg);*/
<<<<<<< HEAD
    background-color:#fff;
}
.st.color{
    background-color: purple;
}
.clear {
    clear: both;
}
#numStitch,#numRow{
    width: 70px;
=======
}
.clear {
    clear: both;
>>>>>>> gh-pages
}